$app-background: #f1f1f1;
$app-border-color: #ececec;
$content-bg-color: #ffffff;
$form-item-border: #000000;
$modal-border: #c6c6c6;

$app-content-color: #63d1bb;
$app-content-darker: #46c1ae;
$app-uncommon-text: #444444;
$app-uncommon-text-opacity-30: rgba(68, 68, 68, 0.3);
$app-uncommon-text-opacity-10: rgba(68, 68, 68, 0.1);
$box-shadow-10: rgba(0, 0, 0, 0.1);

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
