.weekly-product__product-name {
  display: flex;
  flex-direction: column;
  margin: 28px 30px 0;

  font-size: 25px;
  line-height: 1.2;

  &::after {
    content: "ТОВАР НЕДЕЛИ";

    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;

    font-size: 17px;
    color: $app-content-color;
    text-transform: uppercase;
  }
}

.weekly-product__product-description {
  display: flex;
  flex-direction: column;
}

.weekly-product__product-main-description {
  margin: 7px 30px 0;

  font-size: 15px;
  line-height: 1.6;
}

.weekly-product__product-params {
  margin-top: 13px;
  border-collapse: collapse;

  font-size: 15px;
  line-height: 1.33;

  tr td {
    padding: 11px 0;
    border-bottom: 1px solid $app-border-color;
  }

  tr td:nth-child(2) {
    padding-left: 31px;
  }
}

.weekly-product__product-image {
  margin: 25px 30px 0;
  order: 3;
}

.weekly-product__order-wrapper {
  display: flex;
  margin: 21px 30px 0;
  flex-direction: column;
  align-items: center;
  order: 4;
}

.weekly-product__price {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
}

.weekly-product__order {
  margin-top: 27px;
}

@media (min-width: $tablet-width) {
  .weekly-product {
    margin-top: 19px;
    display: flex;
    flex-direction: column;
  }

  .weekly-product__product-name {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px 0 18px;

    font-size: 43px;
    line-height: 1.16;

    &::after {
      width: 70px;
      text-align: center;
    }
  }

  .weekly-product__product-description {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 20px 0;
  }

  .weekly-product__product-main-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 39%;
    margin-right: 0;

    font-size: 17px;
    line-height: 1.76;

    table,
    p {
      width: 282px;
    }
  }

  .weekly-product__product-params {
    margin-top: 20px;

    tr td:nth-child(2) {
      padding-left: 0;
    }
  }

  .weekly-product__product-image {
    width: 46%;
    margin: 30px 30px 0 0;
  }

  .weekly-product__order-wrapper {
    width: 40%;
    margin-top: -115px;
  }

  .weekly-product__order {
    margin-top: 35px;
    line-height: 1.18;
  }

  .weekly-product__price {
    font-size: 20px;
    line-height: 1.2;
  }
}

@media (min-width: $desktop-width) {
  .weekly-product {
    position: relative;
  }

  .weekly-product__product-name {
    position: absolute;
    top: 77px;
    left: 100px;

    padding-left: 0;
    margin-left: -4px;

    font-size: 53px;
    line-height: 1.08;

    flex-direction: row-reverse;

    &::after {
      margin-right: 54px;
      margin-top: 15px;
    }
  }

  .weekly-product__order-wrapper,
  .weekly-product__product-main-description {
    width: 292px;
    margin-left: 18%;
  }

  .weekly-product__product-image {
    width: 47%;
  }

  .weekly-product__product-main-description {
    padding-top: 170px;

    p {
      margin-top: 10px;
    }
  }

  .weekly-product__product-params {
    margin-top: 30px;
  }
}
